html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.item {
    flex: 50%;
    height: 400px;
    background-size: cover;
    background-position: center;
    margin: 2px;
}

.item1 {
    background-image: url(img/ronaldo.jpg);
}

.item2 {
    background-image: url(img/zlatan.jpg);
}

.item3 {
    background-image: url(img/realmadrid.jpg);
}
@media (max-width:650px) {
    .container {
        flex-direction: column;
        height: 70%;
    }

}



@media (max-width:600px) {
    .container {
        flex-direction: column;
        height: 100%;
    }

}
