
* {
    margin: 0;
    padding: 0;
}

.header {
    height: 110px;
    background-color: lime;
    position: sticky;
    top: 0;
    color: white;
}

h2 {
    color: white;
    border: 1px solid black;
}

h2:hover {
    background-color: gray;
}

.img {
    display: inline-block;
    width: 220px;        
    height: 300px;
    background-size: cover;
    border: 4px solid lime;
    flex: 1 0 300px;
    padding: 20px;
}

.img11 {
    background-image: url(hh.jpg);
}
.img22 {
    background-image: url(gg.jpg);
}
.img33 {
    background-image: url(uu.jpg);
}